<!DOCTYPE html>
<!--
Copyright (C) 2015 Balushkin M.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="panel-body">
  <div class="col-md-8 col-md-offset-2">
    <div class="media">
      <div class="media-heading">
        <center>
          <h2>
            {{ album.collectionName }} <span class="label label-success">{{ album.primaryGenreName }}</span>
          </h2>
          <h3>
            by {{ album.artistName }}
          </h3>
        </center>
        <div class="media-left">
          <img src="{{ album.artworkUrl100 }}" alt="Artwork">
        </div>
        <div class="media-body">
          <i>Country:</i> {{ album.country }}<br>
          <i>Track Count:</i> {{ album.trackCount }}<br>
          <i>Release Date:</i> {{ album.releaseDate | date }}<br>
          <a href="{{ album.collectionViewUrl }}">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-music"></span> iTunes
            </button>
          </a>
        </div>
      </div>
    </div>
    <br>

    <div class="list-group">
      <div class="media" ng-repeat="song in songs">
        <a href="{{ song.previewUrl }}" class="list-group-item">
        <div class="media-heading">
          <b>{{ song.trackNumber }}. {{ song.trackName }}</b>
          <span class="label label-success">{{ album.primaryGenreName }}</span>
        </div>
        <div class="media-body">
          <i>Release Date:</i> {{ song.releaseDate | date }}<br>
        </div>
        </a>
      </div>
    </div>
    <div class="media" ng-if="0 === songs.length">
      <b>No results found...</b>
    </div>
  </div>
</div>
<div class="panel-footer">
  <a href="#/artist/{{ album.artistId }}">{{ album.artistName }}</a>
</div>
