<!DOCTYPE html>
<!--
Copyright (C) 2015 Balushkin M.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
      
<div class="panel-body">
  <div class="col-md-8 col-md-offset-2">
    <form>
      <div class="input-group">
          <input type="text" class="form-control" 
                 placeholder="Searching for artist ..." 
                 ng-model="name" pattern=".+" required
          >
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="searchArtist(name)">
              Find!
            </button>
          </span>
      </div>
    </form>

    <div class="media" ng-repeat="artist in artists">
      <div class="media-body"> 
        <a href="#/artist/{{ artist.artistId }}">{{ artist.artistName }}</a>
        <span class="label label-success">{{ artist.primaryGenreName }}</span>
        <a href="{{ artist.artistLinkUrl }}"
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-music"></span> iTunes
          </button>
        </a>
      </div>
    </div>
    <div class="media" ng-if="0 === artists.length">
      <b>No results found...</b>
    </div>
  </div>
</div>
<div class="panel-footer">(C) Balushkin M., 2015 ^___^</div>
